*{
    padding: 0px;
    margin: 0px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #395f6e;

}

.main-content{
    display: flex;
    width: 100%;
}

.side-bar{
    width: 200px;
    padding: 20px;
    color: rgb(29, 27, 27)56, 121, 121);
    text-decoration: none;
    gap: 10px;
    text-align: center;
    background-color: #d4e2e6;
    height: auto;

    
}

ul li {
    list-style: none;
    padding: 10px 0px;
    font: 1em sans-serif;
}
ul li:active {
    font-weight: bold;
    color: #464646;
}
ul li:hover {
    color: rgb(121, 104, 104);
    cursor: pointer;
}
.content-area{
    padding: 20px;
    padding-right: 10px;

}
.content-area h2 {
    font-size: 2rem;
    color: #000;
    padding: 20px ;

}

.content-area p {
    font-size: 1rem;
    color: #4b4a4a;
    line-height: 1.5;
    margin-bottom: 30px;
    padding-left: 20px;
}   

.stats-1{
    width: 100%;
    height: 150px;
    background-color: #f5f1f1;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    text-align: start;
}

.stats-2{
    width: 100;
    height: 150px;
    background-color: #f5f1f1;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

footer {
    background-color: #395f6e;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
