body {
    font-family: Arial, sans-serif;
    background-color: #1a1919;
    margin: 0;
    padding: 0;
}

.content h1{
    color: white;
    text-align: center;
    padding: 20px 0;
}

.content p{
    color: white;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.content-mk p{
    padding: 0px 30px 0px 30px;
}