*{
    padding: 0px;
    margin: 0px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #395f6e;

}

.main-content{
    display: flex;
    width: 100%;
}

.side-bar{
    width: 200px;
    padding: 20px;
    color: rgb(29, 27, 27)56, 121, 121);
    text-decoration: none;
    gap: 10px;
    text-align: center;
    background-color: #d4e2e6;
    height: 70vh;

    
}
..content-area{
    text-align: right;
    padding: 20px;

}
.content-area h2 {
    font-size: 2rem;
    color: #000;
    padding: 20px ;

}

.content-area p {
    font-size: 1rem;
    color: #c2bdbd;
    line-height: 1.5;
    margin-bottom: 30px;
    padding-left: 20px;
}   

.stats-1{
    width: 100%;
    height: 150px;
    background-color: #333;


}

