body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: #dfdddc;
    
}


header{ 
    background-color: lab(53.53% 83.79 -26.24 / 0.621);
    padding: 10px 20px;
    text-align: center;
    font-family: Arial, sans-serif; 
    color: #dfe7e7;
    box-shadow: 0 2px 10
    px rgba(222, 222, 226, 0.897);
    align-items:center

}
.skills {
    display:contents;
    justify-content: center;
    gap: 1px;
    margin-top: 1px;
}
.project {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin: 0;
    font-weight: bold;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
    font-size: 18px;
}
 
nav a:hover {
    color: #1e0705;
    text-decoration: underline;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px hwb(0 82% 16% / 0.886);
}
h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
img {
    border-radius: 20px;
    margin: 10px 0;
}

p {
    line-height: 1.6;
    color: #222020;
    margin: 10px 0;
}

footer {
    background-color:    #8a7a7aa5;
    color: hsl(0, 84%, 33%);
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(145, 141, 141, 0.897);
}
footer p {
    margin: 5px 0;
}
footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}
footer ul li {
    display: inline;
}
