.flex {
    padding: 50px 30px 50px 30px;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin: 200px;
    border-radius: 20px;

}

.row1,
.row2 {
    display: flex;
    gap: 30px;
}

.col-1 {
    background-color: crimson;
    width: 30%;
    padding: 40px;
    border-radius: 5px;
}

.col-2 {
    background-color: rgb(173, 220, 20);
    width: 70%;
    padding: 40px;
    border-radius: 5px;
}


.row2,
.row3,
.row4 {
    margin-top: 20px;
}

.r2Col-1 {
    background-color: rgb(155, 19, 233);
    width: 70%;
    padding: 40px;
    border-radius: 5px;
}

.r2Col-2 {
    background-color: crimson;
    width: 30%;
    padding: 40px;
    border-radius: 5px;
}

.r3Col-1 {
    background-color: green;
    padding: 40px;
    border-radius: 5px;
}

.r4Col-1 {
    background-color: blue;
    padding: 40px;
    border-radius: 5px;
}
